.title-blog{
    color:#f2e5d2;
    font-size: 30px;
    font-weight: bold;
}

.center-blog{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-blog{
    background-color: #724d3d;
}
.bg-blog-2{
    background-color: #f2e5d2;
}
.mt-blog{
    margin-top: 40px;
}
.mb-blog{
    margin-bottom: 50px;
}
.mb-blog-2{
    margin-bottom: 40px;
}

.img-details{
    border: 3px solid #724d3d;
    border-radius: 10px;
}

.size-description{
    width: 600px;
    text-align: justify;
    color: #724d3d;
    font-weight: 500;
}

.line-blog{
    height: 1px;
    width: 600px;
    background-color: #724d3d;
}
.column-blog{
    display: flex;
    flex-direction: column;
}