body {
    background-color: #d9bfae;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
.informationContact {
    height: auto;
    width: 600px;
    margin: 40px 50px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -1px 0 8px -2px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #724d3d;
    color: white;
    margin: 10px;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s;
}
button:hover {
    background-color: rgba(27, 16, 6, 0.8);
    transform: scale(1.1);
}
.buttonSubmit{
    display: flex;
    justify-content: center;
}
label{
    padding-top: 12px;
}
select{
    margin-top: 5px;
    display: flex;
}
.contactPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.informationBusiness{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
p{
    font-size: 20px;
}
.ourInformation{
    margin: 15px;
    text-decoration: underline;
}
.form-container{
    height: 450px;
    width: 450px;
    margin: 130px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -1px 0 8px -2px;
}
.pictureInformation{
    margin-top: 10px;
}
h2{
    text-decoration: underline;
}

@media (max-width: 991px){
    .contactPage{
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        display: flex;
        flex-direction: column;
    }
    .form-container{
        height: auto;
        width: 600px;
    }
    .informationContact{
        height: auto;
        width: 700px;
    }
    p{
        font-size: 25px;
    }
    label{
        font-size: 25px;
    }
    input{
        height: 70px;
        font-size: 25px;
    }
    .buttonSubmit{
        font-size: 25px;
    }
    textarea{
        font-size: 25px;
    }
    select{
        height: 50px;
        font-size: 25px;
    }
    option{
        font-size: 10px;
        height: 40px;
    }
}