body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9bfae;
}

.slider-container {
    background-color: #9f634b;
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: -1px 0 8px -2px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 480px;
    max-width: 100%;
    background: #d9bfae;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin: 10px;
    text-align: center;
}

.card img {
    height: 350px;
    width: 450px;
    border-radius: 10px;
}

.previousNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 30%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.title{
    font-family: Corbel;
    text-decoration: underline;
    display:flex;
    padding: 40px 0 60px;
    justify-content: center;
    color: #724d3d;
}
/* content of blogs */
.blogs-container {
    margin: auto;
    overflow: hidden;
    position: relative;
}

/* blogs */
.blogs-bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in-out;
}

/* element of blog */
.blogs-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 400px;
    max-width: 250px;
    flex: 0 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    margin: 30px;
}

/* picture */
.blogs-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.blogs-title {
    font-size: 32px;
    font-weight: bold;
}
.blogs-date{
    font-size: 20px;
}

.blogs-item p {
    color: #555;
}
.containerWhoWeAre {
    background-image: url("../PICTURE/9bf78ccfa06b44a42730e5850835dbb5.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block {
    background-color: white;
    opacity: 0.85;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.blockTitle {
    color: #2c3e50;
    text-decoration: underline;
}
p{
    font-size: 20px;
}
.moreDetails{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.moreDetailsText{
    background-color: #724d3d;
    border: none;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    cursor:pointer;
    color : white;
}
.moreDetailsText:hover{
    background-color: rgba(27, 16, 6, 0.8);
    color: white;
}

@media (max-width: 991px) {
    .blogs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        min-width: 580px;
    }
    .card img{
        height: 500px;
        width: 600px;
    }
    .previousNext{
        font-size: 50px;
    }
    .title{
        font-size:40px;
    }
    p{
        font-size: 25px;
    }
    .moreDetailsText{
        font-size: 25px;
    }
    .blogs-date{
        font-size: 23px;
    }
    .blogs-item{
        min-width: 480px;
        max-width: 350px;
    }
}
