h4{
  display:inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "Jersey 10", serif;
  color:#724d3d;
}
h5{
  display:inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "Jersey 10", serif;
  color:black;
}
.police{
  font-family: "Jersey 10", serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.no_text_decoration{
  text-decoration: none;
  display: inline-block;
  color:white;


}

.input_size{
  height: 45px;
  width: 400px;
  font-size: 20px;
  margin: 0;
  border-radius: 5px;
  border: 2px solid gray;
}

.input_size_password{
  height: 40px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid gray;
}
.button_size{
  height: 45px;
  width: 410px;
  font-weight: bold;
  color: white;
  background-color: #724d3d;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid  #724d3d;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  };
}

.button_size-2{
  height: 45px;
  width: 300px;
  font-weight: bold;
  color: #724d3d;
  background-color: #f2e5d2;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid  #724d3d;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  };
}

.bg_body{
  background-color: #d8bfae;

}
.box_error{
  background-color: #f2bab9;
  width: 400px;
  height: 50px;
  border: 2px solid #ae5759;
  border-radius: 10px;
}
.text_color-error{
  color: #ae5759;
  font-weight: bold;
}

.default_body{
  height: 100vh;
  max-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 ;
}
.display-flex{
  display: flex;
}

.border{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: -1px 0px 8px -2px;
  width:500px;
  background-color: white;

}
.margin{
  margin: 10px;

}
.center{
  align-items: center;
  justify-content: center;
  display: flex;
}
.center-2{
  align-items: center;
  justify-content: center;
  display: flex;
}
.line{
  margin-top: 20px;
  height: 2px;
  width: 410px;
  background-color: #724d3d;
}
.margin_top{
  margin-top: 80px;
}
.margin_top-2{
  margin-top: 50px;
}
.margin_top-3{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 18px;
}
.img-2{
  height: 30px;
  width: 30px;
  z-index: 10;
  margin-left: -3rem;
  margin-bottom: 10px;
  cursor: pointer;

}
.img-3{
  height: 30px;
  width: 30px;
  z-index: 10;
  margin-left: -3rem;
  margin-bottom: 10px;
  cursor: pointer;

}

.box{
  background-color: #f2e5d2;
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Jersey 10", serif;
  color: #0a1539;
  font-size: 50px;
}

@keyframes animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.animation {
  animation: animation 2s infinite;
}

@media (max-width: 991px) {
  .border{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: -1px 0px 8px -2px;
    width:550px;
    height: auto;
    background-color: white;

  }
  h4{
    display:inline;
    font-weight: bold;
    font-size: 25px;
    font-family: "Jersey 10", serif;
    color:#724d3d;
  }
  .input_size{
    height: 50px;
    width: 430px;
    font-size: 20px;
    margin: 0;
    border-radius: 5px;
    border: 2px solid gray;
  }
  .button_size{
    height: 50px;
    width: 430px;
    font-weight: bold;
    color: white;
    background-color: #724d3d;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid  #724d3d;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    };
  }
  .line{
    margin-top: 20px;
    height: 2px;
    width: 430px;
    background-color: #724d3d;
  }
  .box_error{
    background-color: #f2bab9;
    width: 420px;
    height: 55px;
    border: 2px solid #ae5759;
    border-radius: 10px;
  }
  .text_color-error{
    color: #ae5759;
    font-weight: bold;
    font-size: 20px;
  }

}
